<div class="mb-3">
    <input class="form-control" (change)="upload($event)" type="file" id="formFile">
    <button (click)="subirDocumento()" class="btn btn-primary">Subir</button>
  </div>

 
  <!--table>
     <thead>
       <td>Archivo</td>
     </thead>
     <tbody>
       <tr *ngFor="let item of files">
         <td>{{ item.file | titlecase }}</td>
         <td><button *ngIf="item.file != '' " (click)="remove(item.file)" class="btn btn-danger">Remove</button></td>
         <td><button *ngIf="item.file != '' " (click)="descargar(item.file)" class="btn btn-success">Download</button></td>
       </tr>
     </tbody>
  </table-->
