
<input type="search" (keyup)="search($event)" 
class="form-control" placeholder="Buscar por nombre">
<br>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Asunto</th>
        <th scope="col">Mensaje</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listContact; let i = index">
        <td scope="row" >
          <span class="pointer" (click)="findById(item._id)" *ngIf="!item.status">{{ item.name }}</span> 
          <input *ngIf="item.status" (keyup)="change(item,$event, i, 'name')" 
          class="form-control" value="{{item.name}}">
        </td>
        <td>
          <span class="pointer" (click)="findById(item._id)" *ngIf="!item.status"> {{ item.email }}</span>
          <input *ngIf="item.status" class="form-control" value="{{item.email}}" 
          (keyup)="change(item,$event, i, 'email')">
        </td>
        <td>
          <span class="pointer" (click)="findById(item._id)" *ngIf="!item.status"> {{ item.subject }}</span>
          <input *ngIf="item.status" class="form-control" value="{{item.subject}}" 
          (keyup)="change(item,$event, i, 'subject')">
        </td>
        <td>
            <p>
              <span class="pointer" (click)="findById(item._id)" *ngIf="!item.status"> {{ item.message }}</span>
              <textarea *ngIf="item.status" class="form-control" (keyup)="change(item,$event, i, 'message')"> {{item.message}}</textarea>
            </p>
        </td>
        <td>
          <button class="btn btn-primary" (click)="edit(item, i)">
            <span *ngIf="!item.status">
              {{ item.textAction }}
            </span>
            <span *ngIf="item.status">
              {{ item.textAction }}
            </span>
          </button> 
        </td>
        <td><button *ngIf="item.status" class="btn btn-danger" (click)="reset(i)">Canclelar</button> </td>
        <td><button class="btn btn-danger" (click)="delete(item._id)">Eliminar</button> </td>
      </tr>
    </tbody>
  </table>